/*VARIABLES*/
:root {
  --headerColor: #c84b31;
  --textColorNav: #ecdbba;
  --colorBlue: #2d4263;
  --colorBlack: #191919;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
}

/* MENU DE NAVEGACION */

header {
  display: block;
}
.navImg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 2rem 0 0;
}

.logo {
  font-size: 1.2rem;
  font-family: "Licorice", cursive;
  color: var(--textColorNav);
  font-weight: bold;
  padding: 0 2rem;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contador {
  color: #2d4263;
  margin-top: 1rem;
  font-weight: bolder;
  padding: .5rem 1rem;
  border: 1px solid #191919;
  border-radius: 50%;
  background-color: #f5eedc;
  
}

@media only screen and (min-width: 980px){
  #contador {
    color: #2d4263;
    margin-top: 1rem;
    font-weight: bolder;
    padding: .5rem 1rem;
    border: 1px solid #191919;
    border-radius: 50%;
    background-color: #f5eedc;
    position: relative;
    right: 60%;
  }
}

.navItem {
  font-size: 1rem;
  font-weight: 700;
  color: var(--textColorNav);
  margin: 0 2rem;
  line-height: 4rem;
  text-transform: uppercase;
  width: max-content;
}

.cart-container {
  height: 100vh;
  width: 100vw;
  margin: auto;
  padding: 20px;
  background: #bde1e5;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in;
}
.cart-opened {
  visibility: visible;
  opacity: 1;
}

#conteiner {
  padding: 0;
  margin: 0;
}

/*TITULO*/
.titulo {
  font-family: Baskerville, serif;
  font-size: 3rem;
  margin-top: 2rem;
}

/* CARDS */

#cards{
  margin-top: 2rem;
}
.card {
  text-align: center;
  font-size: 1rem;
  box-shadow: 4px 4px 4px 2px grey;
  background-color: rgb(250, 246, 246);
}

.card-text,
.card-title {
  font-weight: bold;
  color: var(--colorBlack);
}

.card-title {
  text-transform: uppercase;
}

/* BOTONES CARD */

.btn {
  text-transform: uppercase;
  background-color: var(--textColorNav);
  font-size: 0.8rem;
  font-weight: bold;
  border: 1px solid #191919;
  letter-spacing: 0.1rem;
  cursor: pointer;
  color: var(--colorBlack);
  overflow: hidden;
  padding: 0.5rem 1rem;
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}
.btn::after {
  background-color: var(--colorBlue);
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}

.btn:hover::after {
  transform: translate(0, 0);
}
.btn:hover {
  color: var(--textColorNav);
  transform: scale(1.05);
  will-change: transform;
}
#finalizar{
  border: 1px solid var(--colorBlue);
}
#vaciarCarrito{
  border: 1px solid rgb(163, 15, 15);
}
#vaciarCarrito::after{
  background-color: rgb(163, 15, 15);
}
#seguirComp{
  border: 1px solid rgb(5, 83, 5);
}
#seguirComp::after{
  background-color: rgb(5, 83, 5);
}

/*MODAL*/
.tituloMod {
  text-align: center;
}
.itemMod {
  text-align: center;
}
.totalMod{
  text-align: right;
}
.finalizarMod{
  text-align: right;
  
}

.eliminar{
  color: var(--textColorNav);
  
}


/*FINALIZAR COMPRA*/

.mensajeCompra{
  height: 100vh;
  
  
  background-position: center;
  background-size: contain;
  opacity: 100%;
}
.compra-finalizada, .datos-parrafo, .mensaje-final{
  font-size: 2rem;
  color: var(--colorBlack);
  font-weight: bolder;
  
}


/*FOOTER*/
footer{
  margin-top: 1rem;
}



#btnGoogle:hover::after{
  background-color: #ea4335;
}
#btnTwitter:hover::after{
  background-color: #1da1f2;
}
#btnLinkedin:hover::after{
  background-color: #0a66c2;
}
#btnInstagram:hover::after{
  background-color: #c32aa3;
}